<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>examen u2</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

    <div class="container mt-5">
        <div class="mx-auto col-md-10 bg-white p-4 shadow-sm rounded">
            <h2 class="text-center text-success ">Ingresa un nuevo alimento</h2>
            

            <form>
                <div class="form-row">
                    <div class="form-group col-5">
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre del alimento">
                    </div>

                    <div class="form-group col-5">
                        <input type="text" class="form-control" id="gramos" placeholder="Gramos">
                    </div>
                
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="form-group col-3">
                                <input type="text" class="form-control" id="grasas" placeholder="Grasas(g)">
                            </div>

                            <div class="form-group col-3">
                                <input type="text" class="form-control" id="proteinas" placeholder="Proteinas(g)">
                            </div>
                            <div class="form-group col-3">
                                <input type="text" class="form-control" id="carbohidratos" placeholder="Carbohidratos(g)">
                            </div>
                            
                        </div>
                        <button type="button" class="btn btn-success">Clasificar y Añadir</button>
                        </div>
                    </div>
                </div>

                <div class="container mt-5">
                    <div class="mx-auto col-md-10 bg-white p-4 shadow-sm rounded">
                        <h2 class="text-center text-secondary ">Lista de alimentos clasificados</h2>
                        <button type="button" class="btn-control btn-danger btn-sm">Limpiar lista</button>
            
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Alimento</th>
                                <th scope="col">Calorias totales</th>
                                <th scope="col">Clasificacion principal</th>
                                <th scope="col">%Predominante</th>
                                <th scope="col">Grasas(g)</th>
                                <th scope="col">Proteinas(g)</th>
                                <th scope="col"e>Carbs(g)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                        </tbody>
                            
                        </table>
                        <button type="button" class="btn btn-success">Seguir clasificando alimentos</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
            

    <p class="text-center mt-4">© Joselyn Daniela Gurrola Suárez 5'D.</p>


</body>
</html>